<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <!-- Подключаем стили Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h1>My Blog</h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Навигация Bootstrap здесь -->
    </nav>

    <main class="container my-5">
        <div class="text-center">
            <a href="{% url 'blogs:index' %}" class="btn btn-primary mx-2">Home</a>
            <a href="{% url 'blogs:titles' %}" class="btn btn-secondary mx-2">Titles</a>
        </div>
        {% block content %}        
        {% endblock %}
    </main>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2023 My Blog. All rights reserved.</p>
    </footer>

    <!-- Подключаем скрипты Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
